img {
  max-height: 400px;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url("../../../assets/icons/angle-left-solid.svg");
}
::ng-deep .carousel-control-next-icon {
  background-image: url("../../../assets/icons/angle-right-solid.svg");
}
::ng-deep .carousel-indicators [data-bs-target] {
  background-color: #fd5f25;
  height: 15px;
  border-radius: 100%;
  width: 15px;
}
@media (max-width: 1367px) {
  .showImg {
    display: none;
  }
}
