<section>
  <div class="container login">
      <form [formGroup]="loginUser" class="form">
          <div class="d-flex justify-content-between w-100 pb-5">
              <i (click)="navigateToHome()" class="fa-solid fa-circle-arrow-left backIcon"></i>
              <p (click)="register(true)"class="registro">Registro</p>
          </div>
        <h2>Inicia sesión</h2>
      <input
        type="text"
        id="correo"
        formControlName="correo"
        placeholder="Correo"
      />
      <div
      *ngIf="correo.invalid && (correo.dirty || correo.touched)"
      class="errorForm"
    >
      * El formato de correo electrónico es incorrecto.
    </div>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Contraseña"
      />
      <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="errorForm"
    >
      * La contraseña es incorrecta, mínimo 6 carácteres.
    </div>
      <div class="d-flex justify-content-end">
        <button [disabled]="!loginUser.valid"(click)="getLoginToken()" class="btnlogin" type="submit">
          Login
        </button>
        <!-- <button (click)="logout()" class="btn button" type="submit">
          LOGOUT
        </button> -->
      </div>
    </form>
  </div>
</section>
