.parallax {
    /* The image used */
    background-image: url('../../../assets/parallax/1.jpg');
  
    /* Set a specific height */
    min-height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.back-color{
  background-color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 768px){
  .parallax {
    min-height: 500px;

  }
}