<section class="parallax p-5 d-flex justify-content-center">
    <div class="text-center back-color p-5 d-flex flex-column justify-content-center rounded">
        <div class="container w-50">
            <h1 class="p-3">Nuestra <span>newsletter</span> </h1>
            <p class="m-3 pb-5">Accede a noticias, promociones, descuentos para nuestro centro y productos. Solo te contactaremos una vez por semana y siempre estarás a la última</p>
            <div class="d-flex justify-content-center">
                <input type="text" placeholder="Correo eléctronico">
                <button>Subscribirme</button>
    
            </div>

        </div>
        </div>
</section>
