<section>
  <div class="container margin">
    <div class="row gx-1 justify-content-center">
      <div class="col-md-6 col-sm-12">
        <h1>{{ contactDescription.title }}</h1>
        <p class="subtitulo">
          {{ contactDescription.subTitle }}
        </p>
        <ul
          class="icons d-flex reset-list"
          *ngFor="let icon of contactDescription.icons"
        >
          <div>
            <li class="icon" [innerHTML]="icon.icon"></li>
          </div>
          <div class="d-flex descriptions flex-column justify-content-end">
            <li class="icons-title">{{ icon.title }}</li>
            <li class="icons-subtitle">{{ icon.subtitle }}</li>
          </div>
        </ul>
      </div>

      <div class="col-md-6 col-sm-12">
        <form [formGroup]="clientContact" class="d-flex flex-column form">
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            placeholder="Nombre"
          />
          <div
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            class="errorForm"
          >
            * El campo es obligatorio
          </div>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="errorForm"
          >
            * El campo es obligatorio
          </div>
          <input
            type="text"
            id="telefono"
            formControlName="telefono"
            placeholder="Teléfono"
          />
          <div
            *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
            class="errorForm"
          >
            * El campo es obligatorio
          </div>
          <input
            type="text"
            id="texto"
            formControlName="texto"
            placeholder="Comentario"
          />
          <div
            *ngIf="texto.invalid && (texto.dirty || texto.touched)"
            class="errorForm"
          >
            * El campo es obligatorio
          </div>
          <button
            [disabled]="clientContact.invalid"
            type="button"
            class="btn boton mt-5"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
