<app-header></app-header>
<app-top-section-banner [topBanner]="topContact"></app-top-section-banner>

<div class="container margin">
    <div class="row gx-1 justify-content-center">
  
      <div class="col-md-4">
        <h1>Contáctanos</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo perferendis
          cum inventore beatae voluptatibus quibusdam ab ducimus distinctio aperiam
          minima nesciunt aliquid rerum, harum non excepturi cumque neque! Vero,
          nobis.
        </p>
        <ul class="icons">
            <li class="icon">icono</li>
            <li class="icon">icono</li>
            <li class="icon">icono</li>
        </ul>
      </div>
  
      <div class="col-md-6 d-flex flex-column form">
        <input type="text" placeholder="Nombre completo">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Teléfono">
        <input type="text" placeholder="Texto">
      </div>
  
    </div>
  </div>

<app-footer></app-footer>
