@import '../../../styles/colors';


.active{
    background-color: $orange!important;
    color: white!important;
}

header{
    position: sticky!important;
    background: #fff!important;
    box-shadow: 2px 4px 10px 0 rgb(0 34 51 / 5%), 2px 4px 10px 0 rgb(0 34 51 / 5%)!important;
    top: 0!important;
    left: 0!important;
    z-index: 9999!important;
}