<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>

<div
  *ngIf="!userData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Nuevo <span>Usuario</span></h1>
</div>

<div
  *ngIf="userData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Editar <span>Usuario</span></h1>
</div>

<div *ngIf="userData.nombre && isReadOnly" class="titleAdminForm container-fluid p-3 text-center">
  <h1 class="rbt700 mt-3 mb-2">Detalles de <span>usuario</span></h1>
</div>

<section class="section-form d-flex justify-content-center uno">
  <div class="container">
    <form [formGroup]="userForm" class="d-flex flex-column form">
      <input
        [readonly]="isReadOnly"
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        id="apellidos"
        formControlName="apellidos"
        placeholder="Apellidos"
      />
      <div
        *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        id="dni"
        maxlength="9"
        formControlName="dni"
        placeholder="DNI"
      />
      <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="errorForm">
        * El campo DNI es incorrecto.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        maxlength="9"
        id="telefono"
        formControlName="telefono"
        placeholder="Teléfono"
      />
      <div
        *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
        class="errorForm"
      >
        * El campo teléfono es incorrecto.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        id="correo"
        formControlName="correo"
        placeholder="Correo electrónico"
      />
      <div
        *ngIf="correo.invalid && (correo.dirty || correo.touched)"
        class="errorForm"
      >
        * El formato de correo electrónico es incorrecto.
      </div>
      <input
        *ngIf="!isReadOnly"
        [readonly]="isReadOnly"
        type="text"
        minlength="6"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="errorForm"
      >
        * La contraseña es incorrecta, mínimo 6 carácteres.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        id="rol"
        formControlName="rol"
        placeholder="Rol de usuario"
      />
      <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="errorForm">
        * El campo es obligatorio.
      </div>

      <div class="d-flex justify-content-end">
        <button
          *ngIf="!userData.nombre && !isReadOnly"
          class="btn button"
          type="submit"
          (click)="saveUserData()"
          [disabled]="!userForm.valid"
        >
          Crear
        </button>
        <button
          *ngIf="userData.nombre && !isReadOnly"
          class="btn button"
          type="submit"
          (click)="clickEditUser()"
          [disabled]="!userForm.valid"
        >
          Editar
        </button>
      </div>
    </form>
  </div>

  <!-- <div *ngIf="openModal" class="container otro">
        <p>HOLA</p>
    </div> -->
</section>

<app-footer></app-footer>
