<div class="container-fluid mt-5 mb-5">
    <div class="lista-imagenes overflow-hidden d-flex justify-content-center">
        <button class="btn-prev"[disabled]="index === 0" (click)="prev()">
            <i class="fa-solid fa-chevron-left orange rounded-circle font2"></i>
        </button>

        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="{{ slideData[index] }}" alt="" />
            </div>

            <div class="col-4">
                <img class="img-fluid" src="{{ slideData[index + 1] }}" alt="" />
            </div>

            <div class="col-4">
                <img class="img-fluid" src="{{ slideData[index + 2] }}" alt="" />
            </div>
        </div>
        <button class="btn-next" [disabled]="index === slideData.length - 3" (click)="next()">
            <i class="fa-solid fa-chevron-right orange rounded-circle font2"></i>
        </button>
    </div>
</div>
