.container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 5rem;
  position: relative;
  background-position: center;
  color: #fff;
}

.aboutUs-image-background {
  background-image: url("../../../assets/top-section-banner/aboutUs.jpg");
}

.p404-image-background {
  background-image: url("../../../assets/top-section-banner/404.jpg");
}

.contact-image-background {
  background-image: url("../../../assets/top-section-banner/contact.jpg");
}

.products-image-background {
  background-image: url("../../../assets/top-section-banner/products.jpg");
}

.admin-image-background {
  background-image: url("../../../assets/top-section-banner/admin.jpg");
}

@media (max-width: 912px) {
  .container-image {
    padding-left: 2rem;
    background-position: unset;
  }
}
