@import "../styles/colors";

.button {
  padding: 1rem 0;
  background-color: $orange;
  color: #fff;
  max-width: 250px;
  min-width: 220px;
}

.button:hover {
  background-color: transparent;
  color: $orange;
  border: 1px solid $orange;
}
