.editIcons {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 1rem;
  background-color: $orange;
  border: 1px solid $orange;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s all ease;
}

.editIcons:hover {
  border: 1px solid $orange;
  color: $orange;
  background-color: #ffffff;
}
