<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>
<app-title-section [titleSection]="titleProductForm"></app-title-section>

<section class="section-form d-flex justify-content-center uno">
  <div class="container">
    <form [formGroup]="userForm" class="d-flex flex-column form">
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="apellidos"
        formControlName="apellidos"
        placeholder="Apellidos"
      />
      <div
        *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="dni"
        formControlName="dni"
        placeholder="DNI"
      />
      <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="errorForm">
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="telefono"
        formControlName="telefono"
        placeholder="Teléfono"
      />
      <div
        *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="correo"
        formControlName="correo"
        placeholder="Correo electrónico"
      />
      <div
        *ngIf="correo.invalid && (correo.dirty || correo.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        type="text"
        id="rol"
        formControlName="rol"
        placeholder="Rol de usuario"
      />
      <div
        *ngIf="rol.invalid && (rol.dirty || rol.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn button" type="submit" (click)="clickEditUser()" [disabled]="!userForm.valid">
          Editar
        </button>
      </div>
    </form>
  </div>

  <!-- <div *ngIf="openModal" class="container otro">
        <p>HOLA</p>
    </div> -->
</section>

<app-footer></app-footer>
