<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>

<div class="container-fluid pb-5 pt-5">
  <div class="row justify-content-center border">
    <ng-container *ngFor="let dato of datos">
      <div class="col-lg-2 col-md-5 col-10 m-2 shadow border p-3 text-center target" (click)="onClickAdminCard(dato.seccion)">
        <i class="{{ dato.icono }} icon-size mb-4 mt-2 black"></i>
        <h3 class="rbt300"  >{{ dato.titulo }} </h3>
        <p class="rbt300">{{ dato.cantidad }}</p>
      </div>
    </ng-container>
  </div>
</div>

<ng-container  *ngIf="productArray.length > 0">
  <div class="container pt-3 pb-3">
    <button>Nuevo producto</button>

  </div>
  <div class="container" *ngFor="let data of productArray; index as i">
    <div class="container d-flex cardProducts justify-content-between">
      <p>{{i}}</p>
      <p>{{ data.nombre }}</p>
      <div>
        <i class="fa-solid fa-pen-to-square"></i>
        <i class="fa-solid fa-trash-can"></i>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>
