<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>

<section class="menu-admin">
  <div class="container-fluid pb-5 pt-5">
    <div class="row justify-content-center">
      <ng-container *ngFor="let data of sectionsData">
        <div class="cardItemMenu col-lg-2 col-md-5 col-10 m-2 border p-3 text-center" (click)="onClickProduct(data.seccion)">
          <i class="{{ data.icono }} icon-size mb-4 mt-2 black"></i>
          <h3 class="rbt300">{{ data.titulo }} </h3>
          <p class="rbt300">{{ data.cantidad }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  
  <ng-container *ngIf="seccion === 'products' ">
    <app-product-menu></app-product-menu>
  </ng-container>

  <ng-container *ngIf="seccion === 'users' ">
    <app-users-menu></app-users-menu>
  </ng-container>
  
  <ng-container *ngIf="seccion === 'categorys' ">
    <app-category-menu></app-category-menu>
  </ng-container>
</section>



<app-footer></app-footer>
