<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>

<div
  *ngIf="!productData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Nuevo <span>Producto</span></h1>
</div>

<div
  *ngIf="productData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Editar <span>Producto</span></h1>
</div>

<div
  *ngIf="productData.nombre && isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Detalles de <span>producto</span></h1>
</div>

<section class="section-form d-flex justify-content-center">
  <div class="container">
    <form [formGroup]="productForm" class="d-flex flex-column form">
      <input
        [readonly]="isReadOnly"
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre de producto"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <select
      [disabled]="isReadOnly"
        type="text"
        id="categoria"
        formControlName="categoria"
        placeholder="Categoria de producto"
      >
      <option *ngFor="let categoria of listaCategorias; let i = index" [value]="listaCategorias[i]._id">
        {{categoria.nombre}}
      </option>
      </select>
      <div
        *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        [readonly]="isReadOnly"
        type="number"
        id="precio"
        formControlName="precio"
        placeholder="Precio de producto"
      />
      <div
        *ngIf="precio.invalid && (precio.dirty || precio.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>
      <input
        [readonly]="isReadOnly"
        type="text"
        id="descripcion"
        formControlName="descripcion"
        placeholder="descripcion de producto"
      />
      <div
        *ngIf="
          descripcion.invalid && (descripcion.dirty || descripcion.touched)
        "
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>

      <div class="d-flex justify-content-end">
        <button
          *ngIf="!productData.nombre && !isReadOnly"
          class="btn button"
          type="submit"
          (click)="saveProductData()"
          [disabled]="!productForm.valid"
        >
          Crear
        </button>
        <button
          *ngIf="productData.nombre && !isReadOnly"
          class="btn button"
          type="submit"
          (click)="clickEditProduct()"
          [disabled]="!productForm.valid"
        >
          Editar
        </button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>
