<div class="container d-flex justify-content-between pt-3 pb-3">
    <h3>Usuarios</h3>
    <button  class="btn button shadow" (click)="navigateToNewUser()">Nuevo Usuario</button>
  </div>
  <div class="container">
    <div class="container d-flex cardProducts justify-content-between shadow" *ngFor="let user of usersArray; index as i">
        {{i+1}}
        <h6 class="name">{{ user.nombre }}</h6>
        <h6 class="name">{{ user.correo }}</h6>
        <div>
          <i class="fa-solid fa-pen-to-square editIcons" (click)="editUser(user)"></i>
          <i class="fa-solid fa-trash-can editIcons" (click)="deleteUser(user)"></i>
        </div>
    </div>
</div>