<app-header></app-header>
<app-slider></app-slider>
<app-delivery-cards></app-delivery-cards>
<div class="container-fluid p-3 text-center">
    <h1 class="rbt700 font1 mt-3 mb-2">Categoría de productos</h1>
    <p class="rbt300 font3 mt-3 mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sequi, reiciendis voluptate minima.</p>
    <app-cat-prod-slider></app-cat-prod-slider>
</div>
<app-info-image-button></app-info-image-button>
<div class="container-fluid p-3">
    <div class="container">
        <h1 class="rbt700 mt-3 mb-2">Nuevos productos</h1>
        <p class="rbt300 font3 mt-3 mb-5">Conoce nuestra nueva colección</p>
        <app-cat-prod-slider></app-cat-prod-slider>
    </div>
</div>
<app-parallax></app-parallax>
<div class="container-fluid p-3">
    <div class="container">
        <h1 class="rbt700 mt-3 mb-2">Top Ventas</h1>
        <p class="rbt300 font3 mt-3 mb-5">No podrás dejarlos escapar</p>
        <app-cat-prod-slider></app-cat-prod-slider>
    </div>
</div>
<app-info-image-button></app-info-image-button>
<app-footer></app-footer>