<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>
<app-title-section [titleSection]="titleProductForm"></app-title-section>
    
<section class="section-form d-flex justify-content-center uno">
    <div class="container">
        <form [formGroup]="categoryForm" class="d-flex flex-column form">
            <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre de la categoría"/>
            <div *ngIf="categoryForm.controls['nombre'].invalid && (categoryForm.controls['nombre'].dirty || categoryForm.controls['nombre'].touched)" class="errorForm">
                * El campo es obligatorio.
            </div>     
            <div class="d-flex justify-content-end">
                <button class="btn button"type="submit" (click)="clickCreateCategory()" [disabled]="!categoryForm.valid">Crear</button>
            </div>                      
        </form>
    </div>

    <!-- <div *ngIf="openModal" class="container otro">
        <p>HOLA</p>
    </div> -->
</section>

<app-footer></app-footer>
