<app-header></app-header>
<app-top-section-banner [topBanner]="topAdmin"></app-top-section-banner>

<div
  *ngIf="!categoryData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Nueva <span>Categoría</span></h1>
</div>

<div
  *ngIf="categoryData.nombre && !isReadOnly"
  class="titleAdminForm container-fluid p-3 text-center"
>
  <h1 class="rbt700 mt-3 mb-2">Editar <span>Categoría</span></h1>
</div>

<div *ngIf="categoryData.nombre && isReadOnly" class="titleAdminForm container-fluid p-3 text-center">
  <h1 class="rbt700 mt-3 mb-2">Detalles de <span>categoría</span></h1>
</div>

<section class="section-form d-flex justify-content-center uno">
  <div class="container">
    <form [formGroup]="categoryForm" class="d-flex flex-column form">
      <input
        [readonly]="isReadOnly"
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre de la categoría"
      />

      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="errorForm"
      >
        * El campo es obligatorio.
      </div>

      <div
        *ngIf="!categoryData.nombre && !isReadOnly"
        class="d-flex justify-content-end"
      >
        <button
          class="btn button"
          type="submit"
          (click)="clickCreateCategory()"
          [disabled]="!categoryForm.valid"
        >
          Crear
        </button>
      </div>
      <div
        *ngIf="categoryData.nombre && !isReadOnly"
        class="d-flex justify-content-end"
      >
        <button
          class="btn button"
          type="submit"
          (click)="clickEditCategory()"
          [disabled]="!categoryForm.valid"
        >
          Editar
        </button>
      </div>
    </form>
  </div>

  <!-- <div *ngIf="openModal" class="container otro">
        <p>HOLA</p>
    </div> -->
</section>

<app-footer></app-footer>
