.worker-card-effect{
    overflow: hidden;
    cursor: pointer;
}
.worker-card-effect .card-hover{
    background-color: rgba(0, 0, 0, 0.568);
    display: block;
    margin: auto auto;
    color: white;
    width: 80%;
    height: 80%;
    top: 0;
    bottom: -900px;
    right: 0;
    left: 0;
    transition: .3s all ease-in-out;
}

.worker-card-effect:hover .card-hover {
    bottom: 0;
}


i{
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: .3s all ease;
}

i:hover{
    color: #fd5f25;
}

@media (max-width: 991px) {
    .mid-worker {
      margin: 3rem 0;
    }
  }

