<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row mb-5 text-light">
        <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="footer-titles mb-4 rbt500 font2">Logo</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam
            aspernatur eaque modi assumenda maiores pariatur eum exercitationem
            vel quod provident! Accusamus nihil inventore laudantium aliquam!
            Obcaecati adipisci nulla deleniti quae.
          </p>
          <ul class="footer-socials d-flex justify-content-around reset-list">
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="footer-titles mb-4 rbt500 font2">Información</h5>
          <ul class="reset-list rbt300">
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="footer-titles mb-4 rbt500 font2">Soporte</h5>
          <ul class="reset-list">
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="footer-titles mb-4 rbt500 font2">Contacto</h5>
          <ul class="reset-list">
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
              <li>
                  <a class="no-link" href="">Probando Textossssss</a>
              </li>
          </ul>
        </div>
      </div>
      <hr class="text-light">
      <div class="row">
          <div class="col-md-12 text-center py-2 text-light">
              <p class="copyright">Todos los derechos reservados 2022 @lkdjaslkdñaj</p>
          </div>
      </div>
    </div>
  </div>
</footer>
