<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row mb-5 text-light">
        <div class="col-lg-3 col-md-6 mb-5">
          <p>
            Centro de estética salud y bienestar para nuestros cliente, 15 años de experiencia buscando siempre la máxima excelencia en nuestros servicios y tratamientos.
          </p>
          <ul class="footer-socials d-flex justify-content-center reset-list">
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-twitter editIcons"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-linkedin-in editIcons"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-facebook-square editIcons"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-tiktok editIcons"></i></a>
            </li>
            <li>
              <a class="no-link" href=""><i class="fa-brands fa-instagram editIcons"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5  pos2">
          <h5 class="footer-titles mb-4 rbt500 font2">Información</h5>
          <ul class="reset-list rbt300">
              <li>
                <a class="no-link" href="#">Terminos & condiciones</a>
              </li>
              <li>
                <a class="no-link" href="#">Información de envío</a>
              </li>
              <li>
                <a class="no-link" href="#">Política de privacidad</a>
              </li>
              <li>
                  <a class="no-link" href="#">Devoluciones</a>
              </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="footer-titles mb-4 rbt500 font2">Soporte</h5>
          <ul class="reset-list">
              <li>
                  <a class="no-link" href="">Newsletter</a>
              </li>
              <li>
                  <a class="no-link" href="">Mapa web</a>
              </li>
              <li>
                  <a class="no-link" href="mailto:claralagosbeauty@gmail.com">Contacto</a>
              </li>
              <li>
                  <a class="no-link" href="">Ayuda Online</a>
              </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="footer-titles mb-4 rbt500 font2">Contacto</h5>
          <ul class="reset-list">
              <li>
                  <a class="no-link" href="tel:9600000000">(+34) 694 587 152</a>
              </li>
              <li>
                  <a class="no-link" href="mailto:claralagosbeauty@gmail.com">contacto@claralagos.com</a>
              </li>
              <li>
                  <a class="no-link" href="#">www.claralagos.com</a>
              </li>
              <li>
                  <a class="no-link" href="https://www.google.com/maps/place/Cl.+de+Col%C3%B3n,+36,+46004+Valencia/@39.4689071,-0.3723194,3a,75y,36.13h,86.09t/data=!3m6!1e1!3m4!1s8Tche9CWcf71v8Trf35v-g!2e0!7i13312!8i6656!4m5!3m4!1s0xd6048b45ec6fcff:0x7a9ceb5031b0262a!8m2!3d39.468845!4d-0.3721353" target="_blank">C/ Colon 36, 46032, Valencia</a>
              </li>
          </ul>
        </div>
      </div>
      <hr class="text-light">
      <div class="row">
          <div class="col-md-12 text-center py-2 text-light">
              <p class="copyright">Todos los derechos reservados 2022 @claraLagos.com</p>
          </div>
      </div>
    </div>
  </div>
</footer>
