.partners {
  margin: 3rem 0;
}
.parnerts-list {
  display: flex;
}

.title-section {
  margin: 5rem 0;
  text-align: center;
  font-weight: 700;
}

.partners-list {
  text-align: center;
  padding: 0 3rem;

  p {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.2rem;
  }
}
